# Приложение
APP_ENV=local
LOG_LEVEL=INFO
PORT=8000

DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/events_aggregator

# Events Provider API
EVENTS_PROVIDER_BASE_URL=https://events-provider.dev-2.python-labs.ru
EVENTS_PROVIDER_API_KEY=Your_API


# Синхронизация
SYNC_INTERVAL_SECONDS=86400